:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
  --b-font-size: 14.5px;
  --Figtree: "Figtree";
  /* (https://fonts.google.com/specimen/Figtree) */
  /* - Weights: 600, 800 */
}

* {
  box-sizing: border-box;
  background-color: var(--Yellow);
  font-family: var(--Figtree);
  font-size: var(--b-font-size);
  font-weight: 800;
}

html,
body {
  width: 99%;
  background-color: var(--Yellow);
}

main {
  background-color: var(--White);
  position: absolute;
  width: 26.5em;
  height: auto;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  box-shadow: 0.5em 0.5em var(--Black);
  padding: 1.5em 1.5em 1.27em 1.5em;
  border-radius: 1.5em;
}

main img {
  width: 100%;
  border-radius: 0.75em;
  margin-left: 2px;
  margin-top: 1px;
}

.tag-list-container {
  display: flex;
  background-color: var(--White);
  padding: 1.23em 0 1em 0;
}

.tag {
  padding: 0.4em 0.8em 0.4em 0.9em;
  border-radius: 0.25em;
}

time {
  background-color: var(--White);
  font-size: 14px;
  font-weight: 600;
}

header {
  padding: 0.7em 0 0.72em 3px;
  background-color: var(--White);
  font-size: 1.65em;
}

header:hover {
  color: var(--Yellow);
  cursor: pointer;
}

section {
  background-color: var(--White);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
  padding-bottom: 0.85em;
}

footer {
  display: inline-flex;
  align-items: center;
}

footer,
footer img {
  background-color: var(--White);
}

footer img {
  width: 2.25em;
  height: 2.25em;
}

footer p {
  background-color: var(--White);
  padding-left: 0.65em;
}

@media (max-width: 450px) {
  main {
    width: 85%;
  }
}
